main {
    display: flex;
    flex-direction: column;
    padding: 18px;
}

.to-dos {
    display: flex;
    flex-direction: column;
    height: 82%;
    gap: 8px;
}

.to-do-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.to-do-item:hover,
.to-do-item-completed:hover {
    background-color: rgb(228, 228, 228);
    cursor: pointer;
}

input[type="checkbox"]:checked+label {
    text-decoration: line-through;
    opacity: 0.5;
}

.add-to-do {
    background-color: #00A9FF;
    font-weight: bold;
    flex: 1 0 auto;
    color: white;
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    width: 125px;
    align-self: center;
    padding: 4px;
}

.add-to-do:hover {
    background-color: #1385bece;
    cursor: pointer;
}