/* Colour Palette:
    #00A9FF (primary blue)
    #89CFF3 (light blue)
    #A0E9FF (lighter blue) 
    #CDF5FD (lightest blue) 
*/

@font-face {
    font-family: Inter;
    font-weight: 150 bold;
    src: url("../font/Inter-VariableFont_opsz\,wght.ttf") format("truetype-variations");
}

/* Full viewport height */
html,
body {
    height: 100%;
    font-family: Inter, monospace;
    font-weight: normal;
}

body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 50px 1fr 1fr;
    background-color: #C6E7FF;
    /* This prevents a scroll wheel from appearing */
    overflow: hidden;
    grid-template-areas:
        "header header header header"
        "sidebar main main main"
        "sidebar main main main"
}

/* For testing/designing with grid, I'll colour each semantic element to get a feel of the site */
header {
    background-color: #00A9FF;
    color: white;
    font-weight: bold;
    grid-area: header;
}

main {
    background-color: white;
    grid-area: main;
}


/* Styling related to the sidebar */
aside {
    background-color: rgb(224, 224, 224);
    padding: 10px;
    grid-area: sidebar;
}

.project-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    background: none;
    padding: 2px;
    border-radius: 5px;
    border: none;
}

.add-button {
    background-color: #00A9FF;
    font-weight: bold;
    color: white;
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    width: 50%;
    align-self: center;
    padding: 4px;
}

.project-button:hover,
.add-button:hover {
    background-color: #89CFF3;
    cursor: pointer;
}

.delete-project {
    /* visibility: hidden; */
    border: none;
    background: none;
    font-size: 1.2rem;
    color: grey;
}

.delete-project:hover {
    font-weight: bold;
}

#logo {
    margin-bottom: 10px;
}

#projects {
    display: flex;
    overflow-y: auto;
    height: 90%;
    flex-direction: column;
    gap: 2px;
}