/* Colour Palette:
    #C6E7FF (baby blue)
    #D4F6FF (lighter baby blue)
    #FBFBFB (pretty much white)
    #FFDDAE (peach colour)
*/
body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: #C6E7FF;
}

/* For testing/designing with grid, I'll colour each semantic element to get a feel of the site */
header {
    background-color: aqua;
    height: 100px;
}

main {
    background-color: red;
    height: 100px;
}

aside {
    background-color: violet;
    height: 100px;
}

footer {
    background-color: orange;
    height: 100px;
}